
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand"> <i class="fas fa-heart "></i> </a>
      <form class="form-inline">


        <span class="btn btn-outline-primary my-2 my-sm-0 0"><%= link_to "Add a cocktail", new_cocktail_path %></span>
      </form>
    </div>
  </nav>

